{% extends 'core/nav.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>User registration</h1>
    </div>
    <div class="row">
        <form class="form form-horizontal" method="post">
            <div class="span4">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn pull-right" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
