BeautifulSoup==3.2.1
Django==1.4.1
celery==3.0.5
-e git://github.com/af/djangbone.git@5a4f2d80b7b2df183c992af40fc749ebf0c8a30a#egg=djangbone-dev
django-celery==3.0.4
django-crispy-forms==1.1.4
django-registration==0.8
django-tables2==0.11.0
psycopg2==2.4.4
django-bcrypt==0.9.2
