{% extends 'core/nav.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>API Keys</h1>
        </div>
    </div>
    <div class="row">
        <p>To use the functionality of Armada you need to add API keys for your pilots.
            After adding keys, you may activate as many of your pilots as like by clicking Pilots 
            on the account menu in the upper right corner.</p>
        <form class="form form-horizontal span6" method="post">
            {% csrf_token %}
            {{ apiformset.management_form }}
            {% for form in apiformset %}
                {{ form|crispy }}
                {% if form.instance.accessmask %}
                <ul class="unstyled">
                    <li>Expires: 
                        {% if form.instance.expires %}
                        {{ form.instance.expires }}
                        {% else %}
                        never
                        {% endif %}
                    </li>
                    <li>Key type: {{ form.instance.keytype }}</li>
                    <li>Access mask: {{ form.instance.accessmask }}</li>
                </ul>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn pull-right">Save</button>
        </form>
    </div>
</div>
{% endblock %}
