{% extends 'core/nav.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Pilots</h1>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <p>                
                This is a list of pilots retrieved by your registered API keys.
                To use a pilot with EVE Armada, you have to activate them.
            </p>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th><th>Activated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pilot in activated %}
                    <tr>
                        <td><a href="{% url "capsuler_pilot_details" pilot %}">{{ pilot.public_info.name }}</a></td>
                        <td><a href="{% url "capsuler_deactivate_pilot" pilot.id %}" class="btn">Deactivate</a></td>
                    </tr>
                    {% endfor %}
                    {% for pilot in unactivated %}
                    <tr>
                        <td>{{ pilot.name }}</td>
                        <td><a href="{% url "capsuler_activate_pilot" pilot.id %}" class="btn">Activate</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

