.table td.number {
    text-align: right;
    font-family: monospace;
}

#item_table td.baseprice,
#item_table td.volume {
    text-align: right;
    font-family: monospace;
}

body {
    padding-top: 4em;
}

span.system-item-price {
    font-family: monospace;
    text-align: right;
    height: 36px;
    display: inline-block;
}

span.price-buy {
    color: red;
}
span.price-sell {
    color: green;
}

#profile_skills {
    padding-top: 10px;
}
