{% extends 'core/nav.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>{{ team.corporation }} - {{ team.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <form class="form form-horizontal span6" method="post" action="{% url stockteam_update team.pk %}">
                {% csrf_token %}
                {{ stockteamform|crispy }}
                <button type="submit" class="btn pull-right">Update team</button>
                <a href="{{ team.get_absolute_url }}" class="btn pull-right">Cancel</a>
            </form>
        </div>
    </div
</div>
{% endblock %}
