{% extends 'core/nav.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Stocker</h1>
        </div>
    </div>
    <div class="row">
        <p>
            Stocker monitors your corporation's inventory stocks. It works by
            creating a team associated with a corporation API key. After
            creating the team and selecting your key, you can create watch
            groups which monitor a list of items at a given location. Lastly,
            you can add other members of your corporation to your team and
            assign them different permissions per watch group. Whenever a
            member views the stock level of a group, your API key will be used
            to retrieve the assets.
        </p>
        <div class="span6">
            <h3>Your teams</h3>
            <ul class="unstyled">
                {% for membership in memberships %}
                <li>
                    <a href="{% url stockteam_overview membership.team.corporation membership.team %}">{{ membership.team }}</a>
                    <a href="{% url stockteammember_decline membership.pk %}" class="btn btn-mini">Resign</a>
                </li> 
                {% endfor %}
            </ul>
        </div>
        <div class="span6">
            <h3>Teams managed by you</h3>
            <ul class="unstyled">
                {% for team in managed_teams %}
                <li><a href="{{ team.get_absolute_url }}">{{ team }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url stockteam_create %}" class="btn">Create team</a>
        </div>
        {% if invitations %}
        <div class="span6">
            <h3>Team invitations</h3>
            <ul class="unstyled">
                {% for invitation in invitations %}
                <li>{{ invitation.team }} from {{ invitation.god }}:
                    <a href="{% url stockteammember_accept invitation.pk %}" class="btn btn-mini">Accept</a>
                    <a href="{% url stockteammember_decline invitation.pk %}" class="btn btn-mini">Decline</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
