{% extends 'core/nav.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>{{ team.corporation }} - {{ team.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h3>Details</h3>
            <form class="form form-horizontal span6" method="post" action="{% url stockteam_update team.pk %}">
                {% csrf_token %}
                {{ stockteamform|crispy }}
                <button type="submit" class="btn pull-right">Update team</button>
            </form>
            <h3>Groups</h3>
            <p>Create a stock groups to monitor a set of items.</p>
            <ul class="unstyled">
                {% for group in team.get_groups %}
                <li>
                    <a href="{% url stockgroup_details team.corporation team.name group.name %}">{{ group.name }}</a>
                    <a href="{% url stockgroup_delete team.corporation team.name group.name %}" class="btn btn-mini">delete</a>
                </li>
                {% endfor %}
            </ul>
            <a href="{% url stockgroup_create team.corporation team.name%}" class="btn pull-right">Create group</a>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h3>Members</h3>
            <form class="form form-horizontal span6" method="post">
                {% csrf_token %}
                {{ memberformset.management_form }}
                {{ memberformset|crispy }}
                <button type="submit" class="btn pull-right">Save</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="span6 pull-right">
            <a href="{% url stockteam_delete team.pk %}" class="btn btn-danger">Delete team</a>
            <a href="{% url stocker_index %}" class="btn">Done</a>
        </div>
    </div>
</div>
{% endblock content %}
