{% extends 'core/nav.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>{{ team.corporation }} - {{ team.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h3>Details</h3>
            <form class="form form-horizontal span6" method="post" action="{% url "logisticsteam_details" team.corporation team.name %}">
                {% csrf_token %}
                {{ logisticsteamform|crispy }}
                <button type="submit" class="btn pull-right">Update team</button>
                <a href="{% url "logistics_index" team.corporation %}" class="btn pull-right">Back to overview</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
