{% extends 'core/nav.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Create logistics team</h1>
        </div>
    </div>
    <div class="row">
        <form class="form form-horizontal span6" method="post">
            {% csrf_token %}
            {{ logisticsteamform|crispy }}
            <button type="submit" class="btn pull-right">Create team</button>
            <a href="{% url "logistics_index" corporation %}" class="btn pull-right">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
